:root {
  --colorWHITE: #fff;
  --colorBLACK: #000;
  --colorMAIN: #fafafa;
  --colorGRAY: #000;
}

/* -- dark mode -- */

@media (prefers-color-scheme: dark) {
  body {
    --colorWHITE: #000;
    --colorBLACK: #cecdcd;
    --colorMAIN: #1b1c23;
    --colorGRAY: #9fb9ce;
  }
}

/* -- all -- */

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-collapse: collapse;
  vertical-align: top;
  /* box-sizing: border-box; */
  /* user-select: none; */
  /* -webkit-appearance: none; */
  color: var(--colorBLACK);
  font-weight: 300;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  text-align: justify;
}

*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--colorMAIN);
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

/* -- header -- */

header {
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(10vh - 1px);
}
header span {
  color: var(--colorWHITE);
  font-size: 46px;
  text-transform: capitalize;
}
header p {
  background-color: #000;
  color: var(--colorWHITE);
  text-align: center;
  padding: 5px;
}
header a {
  color: #03a9f4;
  text-decoration: underline;
}
main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}
main ul#ul_citations {
  overflow-y: scroll;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
main ul#ul_citations li div {
  background-color: var(--colorWHITE);
  box-shadow: 0px 2px 10px #333;
  width: calc(100% - 8% - 80px);
  height: calc(30vh);
  padding: 0% 4%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 20px solid #111;
}

main p q {
  font-size: 22px;
  font-weight: bold;
}
main p {
  color: var(--colorBLACK);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* -- mobile --*/

@media screen and (max-width: 800px) {
  header {
    position: fixed;
    left: 0px;
    right: 0px;
  }
  header span {
    font-size: 30px;
  }
  main {
    height: 100vh;
  }
  main ul#ul_citations {
    grid-template-columns: 100%;
    scroll-snap-type: y mandatory;
  }
  main ul#ul_citations li {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    align-items: center;
    display: flex;
  }
  main ul#ul_citations li div {
  }
}
